body {
  font-family: sans-serif;
  padding: 16px;
}

.snapshot .status,
.checkpoint .status {
  margin: 10px 0;
}

h1 {
  font-size: 1.5rem;
  margin: 8px 0;
}

.snapshot ul {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  grid-gap: 8px;
}

.snapshot li {
}

.snapshot li > a {
  text-decoration: none;
  color: inherit;
}

.snapshot li > a:hover {
  opacity: 0.8;
}


.checkpoint h2 {
  color: grey;
  margin: 8px 0 4px;
}

.checkpoint.approved h2 {
  color: green;
}

.checkpoint.rejected h2 {
  color: red;
}

.checkpoint .actions {
  margin: 10px 0;
}

.checkpoint .actions {
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  grid-gap: 4px;
  max-width: 300px;
}

.checkpoint .actions button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  padding: 4px 8px;
}

.checkpoint .actions button.approve {
  color: green;
  border-color: green;
}

.checkpoint .actions button.reject {
  color: red;
  border-color: red;
}

.checkpoint.preview .image {
  position: relative;
}

.checkpoint.preview img {
  width: 100%;
}

.checkpoint.preview img.overlay {
  position: absolute;
  top: 0;
  left: 0;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.checkpoint.preview {
  max-height: 200px;
  overflow: hidden;
}

.checkpoint .images-3 img {
  max-width: 33%;
}

.checkpoint .images-2 img {
  max-width: 50%;
}
