body {
  font-family: sans-serif;
  padding: 0 16px 16px 16px;
  background-color: white;
}

.header {
  position: sticky;
  top: 0;
  background-color: white;
  margin: 0 -16px;
  padding: 8px 16px;
  border-bottom: 1px solid grey;
  z-index: 1;
}

h1 {
  font-size: 1.5rem;
  margin: 8px 0;
}

a {
  color: grey;
}

.snapshot .status,
.checkpoint .status {
  margin: 10px 0;
}

.snapshot .baseline-info {
  font-size: .8rem;
  color: grey;
}

.snapshot ul {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  grid-gap: 8px;
}

.snapshot li {
}

.snapshot li > a {
  text-decoration: none;
  color: inherit;
}

.snapshot li > a:hover {
  opacity: 0.8;
}


.checkpoint h2 {
  color: grey;
  margin: 8px 0 4px;
}

.checkpoint .meta {
  color: grey;
  font-size: .8rem;
  margin: 4px 0;
}

.checkpoint.diff-status-different h2 {
  color: blue;
}

.checkpoint.status-ignored h2 {
  color: grey;
}

.checkpoint.status-approved h2 {
  color: green;
}

.checkpoint.status-rejected h2 {
  color: red;
}

.checkpoint .actions {
  margin: 10px 0;
}

.checkpoint .actions {
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  grid-gap: 4px;
  max-width: 300px;
}

.checkpoint .actions button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  padding: 4px 8px;
}

.checkpoint .actions button.approve {
  color: green;
  border-color: green;
}

.checkpoint .actions button.reject {
  color: red;
  border-color: red;
}

.checkpoint.preview .image {
  position: relative;
}

.checkpoint.preview img {
  width: 100%;
}

.checkpoint.preview img.overlay {
  position: absolute;
  top: 0;
  left: 0;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.checkpoint.preview {
  max-height: 200px;
  overflow: hidden;
}

.checkpoint .images {
  margin-top:16px;
}

.checkpoint .images img {
  max-width: 100%;
}

.checkpoint.deleted img {
  opacity: 0.5;
}

.image .caption {
  margin: 4px 0;
}

.checkpoint .images.images-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.checkpoint .images.images-3 {
  display: grid;
  grid-template-columns: repeat( 3, minmax(300px, 1fr));
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.checkpoint .images.images-3 .baseline,
.checkpoint .images.images-3 .diff {
  grid-row: 1;
  grid-column: 2;
}

.checkpoint.diff-status-identical .diff {
  display: none;
}

.checkpoint .images.images-3 .diff {
  animation: pulse 2s infinite;
}

.checkpoint .images.images-3 .diff .caption {
  opacity: 0;
}
